body{
    background:#eef8ef;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top:100px;
}

header{
    background:white;
    text-align:center;

    padding:20px;

    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

h1{
    color:#2e7d32;
}

h2{
    margin:0;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1b5e20;
}

nav a{
    text-decoration:none;
    color:#2e7d32;
    font-weight:bold;

    margin:0 20px;
}

nav{
    margin-top: 15px;
    margin-right: 5px;

    text-decoration: none;
}

nav a:hover{
    color:#1b5e20;
}

main{
    text-align:center;
    margin-top:80px;
}